:root {
  --black: #3a3a3a;
  --pink: #e02c6d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/* Common CSS */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* navigation styles start */
nav {
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
}
.title {
  font-size: 1.5rem;
  font-weight: 700;
}
.menus {
  display: flex;
  gap: 2.2rem;
  align-items: center;
}
.menus li {
  list-style: none;
}
.menus a {
  text-decoration: none;
  color: var(--black);
}
.search-icon img {
  width: 19px;
  height: 19px;
}
.shopping-cart-icon img {
  width: 34px;
  height: 34px;
}
/* navigation styles end */
/* header section styles start  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content,
.header-img {
  flex: 1;
  margin: 80px 0 100px 0;
}
.header-content p {
  font-weight: 600;
  margin: 16px 0;
}
.header-title {
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--black);
}
.primary-btn {
  background-color: var(--pink);
  color: white;
  border: none;
  width: 700;
}
.header-btn {
  padding: 10px 24px;
  border-radius: 41px;
}
.header-img {
  text-align: right;
  background-image: url("../assets/images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: right;
  /* background-position: center; */
}
.header-img img {
  width: 440px;
  height: 414px;
}
/* header section styles end  */
/* sponsor companies styles start */
.sponsor-companies {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* sponsor companies styles end  */
/* popular collection styles start  */
.popular-collection {
  max-width: 1047px;
  width: 100%;
  margin: 0 auto;
}

.popular-collection-title {
  padding: 100px 0 30px 0;
  text-align: center;
  font-size: 28px;
  font-weight: 600px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product {
  max-width: 329px;
  padding: 17px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px #00000026;
}
.product-name {
  font-size: 28px;
  font-weight: 500;
}
.product-price {
  font-size: 24px;
  font-weight: 400;
}
.rating {
  padding: 5px;
  margin-bottom: 3px;
}
.rating i {
  color: #fb8200;
}
.rating span {
  color: var(--black);
}
.short-description {
  color: var(--black);
}
.see-more {
  text-align: right;
  margin-top: 50px;
  width: 100%;
}
.see-more-products-btn {
  color: var(--pink);
  background-color: white;
  cursor: pointer;
}
/* popular collection styles end  */
/* Featured Products styles start  */
.featured-products {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 100px 0;
}
.featured-products p {
  width: 500px;
  margin: 16px 0;
}
.featured-products img {
  width: 500px;
}
.featured-title {
  font-size: 2.375rem;
}
.featured-products-btn {
  padding: 10px 24px;
}
/* Featured Products styles end  */
/* footer section styles start */
.footer {
  padding: 50px;
  width: 100%;
  background-color: #0a0826;
  color: white;
  text-align: center;
}
.footer p {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.7;
}
.social-icons {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
/* footer section styles end */

/* Media Queries */

/* mobile device  */
@media only screen and (max-width: 576px) {
  /* nav section style start */
  nav {
    flex-direction: column;
    align-items: center;
  }
  .menus {
    gap: 0;
    width: 100%;
    justify-content: space-evenly;
  }
  /* nav section style end */
  /* header section styles start  */
  .header {
    flex-direction: column-reverse;
  }
  .header-content {
    text-align: center;
  }
  .header img {
    width: 202px;
    height: 190px;
  }
  /* header section styles end  */
  footer,
  section,
  .popular-collection,
  .sponsor-companies,
  .featured-products {
    display: none;
  }
}
