:root {
  --black: #3a3a3a;
  --pink: #e02c6d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/* Common CSS */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* navigation styles start */
nav {
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
}
.brand-name {
  font-size: 1.5rem;
  font-weight: 700;
}
.menus {
  display: flex;
  gap: 2.2rem;
  align-items: center;
}
.menus li {
  list-style: none;
}
.menus a {
  text-decoration: none;
  color: var(--black);
}
.search-icon img {
  width: 19px;
  height: 19px;
}
.shopping-cart-icon img {
  width: 34px;
  height: 34px;
}
/* navigation styles end */
/* header section styles start  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content,
.header-img {
  flex: 1;
  margin: 80px 0 100px 0;
}
.header-content p {
  font-weight: 600;
  margin: 16px 0;
}
.header-title {
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--black);
}
.primary-btn {
  background-color: var(--pink);
  color: white;
  border: none;
  width: 700;
}
.header-btn {
  padding: 10px 24px;
  border-radius: 41px;
}
.header-img {
  text-align: right;
  background-image: url("../assrts/images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.header-img img {
  width: 440px;
  height: 414px;
}
/* header section styles end  */
